[Unit]
Description=Check for tested Marqd releases every five minutes

[Timer]
OnBootSec=2min
OnUnitInactiveSec=5min
RandomizedDelaySec=30s
Unit=marqd-deploy.service

[Install]
WantedBy=timers.target
